<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/*------------------------------------------------------------------------------
| $1($2)
|
|   ${3:parameter:	parameter description}
|
| ${4:function description}
| Requirements: ${5:jquery-${TM_JQUERY_VERSION:1.4.2}, jquery-${TM_JQUERY_UI_VERSION:1.8.4}.widget,…}
------------------------------------------------------------------------------*/
function ${1:function name}(${2: parameter1) ${TM_JAVASCRIPT_BRACE_PREFIX:
}{
	$0
}</string>
	<key>name</key>
	<string>Function</string>
	<key>scope</key>
	<string>source.js</string>
	<key>tabTrigger</key>
	<string>fun</string>
	<key>uuid</key>
	<string>F0E4FB6A-4878-48C6-A777-62438DF1E14F</string>
</dict>
</plist>
